/* GENERAL SETTINGS */
:root {
  font-size: 62.5%;
  --hue: 120;
  --dark: #191a19;
  --primary: hsl(var(--hue), 100%, 25%);
  --primary-bg: hsla(var(--hue), 100%, 25%, 0.8);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* CALCULATOR ====================================== */
body,
button,
#sentence::-webkit-scrollbar-track,
#sentence::-webkit-scrollbar-thumb,
#sentence::-webkit-scrollbar-thumb:hover {
  transition: 300ms;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;

  display: grid;
  place-items: center;

  overflow: hidden;

  -webkit-tap-highlight-color: transparent;
}

body.alert::after {
  content: "Não é possível mais de 15 dígitos";

  width: fit-content;
  padding: 1.4rem;

  position: absolute;
  bottom: 20%;

  border-radius: 4rem;
  background-color: rgba(0, 0, 0, 0.8);

  font-size: 1.4rem;
  color: white;
}

button {
  border: none;
  background: none;
}

.container {
  width: min(350px, 85%);
  overflow: hidden;
}

#sentence,
#result {
  height: 4rem;
  width: 100%;

  text-align: right;

  margin-bottom: 2rem;
}

#sentence {
  font-size: 3.4rem;

  height: 5rem;

  overflow-x: auto;
  user-select: none;

  transition: color 200ms;
}

#sentence.equalsEffect {
  color: var(--primary);
}

#sentence::-webkit-scrollbar {
  height: 0.6rem;
}

#sentence::-webkit-scrollbar-track {
  background: white;
}

#sentence::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

#sentence::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

#result {
  font-size: 2.8rem;
  opacity: 0.6;
}

#featureDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  padding: 1rem;

  margin-bottom: 2rem;
}

#eraserBtn.disable {
  opacity: 0.6;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;

  margin-bottom: 4rem;
}

.buttons button {
  font-size: 2.8rem;

  display: inline-block;
  padding: 2rem;

  background-color: rgba(128, 128, 128, 0.12);
  clip-path: circle();

  transition: 150ms;
}

.buttons button.clicked {
  background-color: rgba(128, 128, 128, 0.5);
  font-size: 2.2rem;
}

.buttons button.equals.clicked {
  background-color: var(--primary-bg);
}

.buttons .cancel {
  color: red;
}

.buttons .operator,
.buttons .par {
  color: var(--primary);
}

.buttons .equals {
  color: white;
  background-color: var(--primary);
}

/* DARK THEME ====================================== */

body.dark {
  background-color: var(--dark);
  color: white;
}

body.dark button {
  color: white;
}

body.dark #sentence::-webkit-scrollbar-track {
  background: var(--dark);
}

body.dark #sentence::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

body.dark #sentence::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}

/* RESPONSIVE ====================================== */

@media (max-width: 375px) {
  .buttons {
    gap: 0.4rem;
  }

  .buttons button {
    font-size: 2rem;
  }

  .buttons button.clicked {
    font-size: 1.4rem;
  }
}
